<!--// File Name: COMP229-F2020-MidTerm-301145346 Author: Irits Anna Mathew
// Course Code & Name: COMP229 Web Application Development
// Student ID: 301145346
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
